<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>18A391019</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>BroadcomBluetoothHostControllerUSBTransport</string>
	<key>CFBundleGetInfoString</key>
	<string>7.0.2, Copyright © 2002-2019 Apple Inc. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>BroadcomBluetoothHostControllerUSBTransport</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>7.0.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>7.0.2f4</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>11M392v</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>10.15</string>
	<key>DTSDKBuild</key>
	<string>19C43</string>
	<key>DTSDKName</key>
	<string>macosx10.15internal</string>
	<key>DTXcode</key>
	<string>1100</string>
	<key>DTXcodeBuild</key>
	<string>11M392v</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Bluetooth Entitlement</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>UsbUserClientEntitlementRequired</key>
				<string>com.apple.bluetooth.control</string>
			</dict>
			<key>idProductArray</key>
			<array>
				<integer>33292</integer>
				<integer>33293</integer>
				<integer>33294</integer>
				<integer>33295</integer>
				<integer>33296</integer>
				<integer>33299</integer>
				<integer>33300</integer>
				<integer>33301</integer>
				<integer>33302</integer>
				<integer>33303</integer>
				<integer>33304</integer>
				<integer>33306</integer>
				<integer>33307</integer>
				<integer>33308</integer>
				<integer>33309</integer>
				<integer>33310</integer>
				<integer>33311</integer>
				<integer>33408</integer>
				<integer>33409</integer>
				<integer>33414</integer>
				<integer>33415</integer>
				<integer>33416</integer>
				<integer>33417</integer>
				<integer>33418</integer>
				<integer>33419</integer>
				<integer>33420</integer>
				<integer>33421</integer>
				<integer>33422</integer>
				<integer>33423</integer>
				<integer>33426</integer>
				<integer>33429</integer>
			</array>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2045FamilyUSBBluetoothHCIController_D</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>33292</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2045FamilyUSBBluetoothHCIController_P</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>33293</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_10</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33299</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_16A</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33310</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_19A</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33308</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_19B</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33306</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_19C</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33309</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_21</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33307</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_21B</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33311</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_21C</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33416</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_27</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33408</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_28</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33409</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_28B</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33418</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_29B</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33414</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_29C</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33417</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_29D</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33420</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_33A3</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33415</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_33B0</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33419</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_37A</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33301</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_51</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33421</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_52_A</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33422</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_52_B</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33423</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_Combo</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>33296</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_D</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>33294</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_M93A</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33302</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_P</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>33295</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_X100</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33429</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_X100_Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>2</integer>
			<key>idProduct</key>
			<integer>33429</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_X11</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33303</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_X16</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33304</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_X52D</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33426</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_XA</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33299</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom2046FamilyUSBBluetoothHCIController_XB</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>33300</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>BroadcomUSBBluetoothHCIController</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>33537</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Broadcom_Boot_From_ROM</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>bcdDevice</key>
			<integer>274</integer>
			<key>idProduct</key>
			<integer>8703</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>MacPro6_1 BRCM20702B0 Hub</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>UsbUserClientEntitlementRequired</key>
				<string>com.apple.bluetooth.control</string>
				<key>kUSBDescriptorOverride</key>
				<dict>
					<key>descriptor</key>
					<data>
					CQIZAAEBAOAvCQQAAAEJAAAABwWBAwEA/w==
					</data>
					<key>index</key>
					<integer>0</integer>
					<key>languageID</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>bcdDevice</key>
			<integer>256</integer>
			<key>idProduct</key>
			<integer>17664</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>PID 156 0x9C VID 1118 0x45E</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>Dongles</key>
			<dict>
				<key>Microsoft</key>
				<string>Bluetooth 2.0 USB</string>
			</dict>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>156</integer>
			<key>idVendor</key>
			<integer>1118</integer>
		</dict>
		<key>PID 1626 0x65A VID 1293 0x50D</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>Dongles</key>
			<dict>
				<key>Belkin</key>
				<string>F8T065bf Netzwerkadapter</string>
			</dict>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>1626</integer>
			<key>idVendor</key>
			<integer>1293</integer>
		</dict>
		<key>PID 19829 0x4D75 VID 1121 0x461</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>Dongles</key>
			<dict>
				<key>Rocketfish</key>
				<string>Unknown Model</string>
			</dict>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>19829</integer>
			<key>idVendor</key>
			<integer>1121</integer>
		</dict>
		<key>PID 23 0x17 VID 1293 0x50D</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>Dongles</key>
			<dict>
				<key>Belkin</key>
				<string>F8T017</string>
			</dict>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>23</integer>
			<key>idVendor</key>
			<integer>1293</integer>
		</dict>
		<key>PID 25618 0x6412 VID 2652 0xA5C</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>25618</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>PID 25619 0x6413 VID 2652 0xA5C</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>25619</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>PID 25620 0x6414 VID 2652 0xA5C</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<true/>
			<key>idProduct</key>
			<integer>25620</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>PID 289 0x121 VID 1293 0x50D</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>Dongles</key>
			<dict>
				<key>Belkin</key>
				<string>F8T012xx1</string>
			</dict>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>289</integer>
			<key>idVendor</key>
			<integer>1293</integer>
		</dict>
		<key>PID 362 0x16A VID 1293 0x50D</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>Dongles</key>
			<dict>
				<key>Belkin</key>
				<string>F8T016</string>
			</dict>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>362</integer>
			<key>idVendor</key>
			<integer>1293</integer>
		</dict>
		<key>PID 6091 0x17CB VID 2821 0xB05</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>Dongles</key>
			<dict>
				<key>Asus</key>
				<string>USB-BT400</string>
			</dict>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>6091</integer>
			<key>idVendor</key>
			<integer>2821</integer>
		</dict>
		<key>PID 8243 0x2033 VID 2652 0xA5C</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.DoNotSupport</string>
			<key>Dongles</key>
			<dict>
				<key>D-Link</key>
				<string>Unknown Model</string>
			</dict>
			<key>IOClass</key>
			<string>DoNotSupport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>8243</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>PID 8448 0x2100 VID 2652 0xA5C</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>Dongles</key>
			<dict>
				<key>Unknown</key>
				<string>Unknown Model</string>
			</dict>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>8448</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>PID 8449 0x2101 VID 2652 0xA5C</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>Dongles</key>
			<dict>
				<key>IOGear</key>
				<string>Unknown Model</string>
			</dict>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>8449</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>PID 8520 0x2148 VID 2652 0xA5C</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>Dongles</key>
			<dict>
				<key>IOGear</key>
				<string>GBD-421</string>
				<key>Satechi</key>
				<string>ST-BTV4U (4.0)</string>
			</dict>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>8520</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>PID 8531 0x2153 VID 2652 0xA5C</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>Dongles</key>
			<dict>
				<key>Anycom</key>
				<string>USB-550</string>
			</dict>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>8531</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>PID 8532 0x2154 VID 2652 0xA5C</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>Dongles</key>
			<dict>
				<key>Targus</key>
				<string>Unknown Model</string>
			</dict>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>8532</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>PID 8600 0x2198 VID 2652 0xA5C</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>Dongles</key>
			<dict>
				<key>Kinivo</key>
				<string>BTD-300</string>
				<key>MediaLink</key>
				<string>BT V3.0</string>
			</dict>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>8600</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>PID 8680 0x21E8 VID 2652 0xA5C</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>Dongles</key>
			<dict>
				<key>GMYLE</key>
				<string>Micro Nano</string>
				<key>IOGear</key>
				<string>GBU-521</string>
				<key>Kinivo</key>
				<string>BTD-400</string>
				<key>MediaLink</key>
				<string>PANBT400 (4.0)</string>
				<key>MediaLink 2</key>
				<string>MUA-BA3</string>
				<key>Plugable</key>
				<string>4.0 LE</string>
				<key>Targus</key>
				<string>ACB10US 4.0</string>
				<key>UtechSmart</key>
				<string>4.0 (BCM20702)</string>
			</dict>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>8680</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.15</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2002-2019 Apple Inc. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.IOBluetoothFamily</key>
		<string>2.0.0</string>
		<key>com.apple.iokit.IOBluetoothHostControllerTransport</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.IOBluetoothHostControllerUSBTransport</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.IOUSBHostFamily</key>
		<string>1.0.1</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0</string>
		<key>com.apple.kpi.private</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
